html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	width: 100vw;
}

main {
	max-width: 960px;
	min-width: 480px;
	margin: auto;
	width: 100%;
	padding-left: 12px;
	padding-right: 12px;
}

main > h1 {
	color: rgb(36, 41, 46);
	font-size: 32px;
	font-weight: 600;
}